@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,600,700');
@import "app/libs/media/_media-queries";

$color-green: #44c0c2

$main-text-color: #4e525d

$main-font: 'Open Sans', Arial, sans-serif

=basic
	display: flex
	width: 80%
	margin: 0 auto

body
	font-family: $main-font
	color: $main-text-color
	margin: 0
	header
		+basic
		margin: 30px auto 11px
		.logo
			width: 20%
			p 
				color: $color-green
				font:
					family: 'Lobster', Arial, sans-serif
					size: 43px
				margin: 0
				display: inline
		.main-menu
			width: 80%
			color: #484c55
			ul 
				list-style-type: none
				float: right
				li 
					display: inline
					a 
						text-decoration: none
						font-size: 15px
						padding: 28px 30px 25px
						transition: all 0.1s

						&:hover 
							color: $color-green
							background-color: #f8f9fb
							border-bottom: 3px solid #44c0c2
							transition: all 0.1s
	.slider
		width: 100%
		.slide 
			background-image: url("../img/Base.png")
			background-size: cover
			background-position: center
			padding: 10% 0
			text-align: center
			color: #ffffff
			h1
				font-size: 63px
				font-weight: 600
			p
				font-weight: 400
				margin: 30px 0 50px
				font-size: 23px
			a 
				margin-top: 20px
				color: #ffffff
				text-decoration: none
				font-size: 26px
				padding: 10px 50px
				transition: all 0.1s
				border: 2px solid #ffffff
					radius: 7px

				&:hover 
					background-color: rgba(255, 255, 255, 0.2)
					transition: all 0.1s
					border: 2px solid #fffff
	.content
		color: $main-text-color
		width: 100%
		display: block
		text-align: center
		.team-header
			h1
				font-size: 43px
				font-weight: 400
			margin: 70px auto 50px
		.team
			width: 80%
			margin: 0 auto
			display: flex
			padding: 0 0 110px 0
			.first-row
				display: flex
			.second-row
				display: flex
			.team-member
				width: 100%
				margin: 0 auto
				.member-photo
					background-color: #eeeef0
					width: 200px
					height: 200px
					margin: 70px auto
					border-radius: 50%
					&:hover
						background:
							image: url('../img/plus.png')
							repeat: no-repeat
							position: center
				.member-info
					p
						font-size: 14px
					h3
						font:
							size: 22px
							weight: 400
		.plans-cont
			background-color: #f1f1f1
			width: 100%
			padding: 120px 0 100px
			.plans 
				width: 80%
				display: flex
				margin: 0 auto
				.plan-info
					width: 100%
					table 
						margin: 0 auto
						width: 95%
						td
							background-color: #ffffff
							font-size: 14px
							padding: 15px 0
							border-bottom:
						td.plan-header
							background-color: #485460
							color: #ffffff
							font-size: 26px
							padding: 30px 0
						td.price, td.btn
							background-color: #f8f9fb
							color: #485460
							font-size: 20px
							padding: 30px 0
							a
								background-color: #788492
								color: #ffffff
								font:
									size: 14px
									weight: 600
								text-decoration: none
								padding: 10px 50px
								border-radius: 5px
								&:hover
									background-color: #49cbcd
	footer
		color: #ffffff
		padding: 100px 0
		background:
			image: url("../img/cont.png")
			size: cover
			position: top
			repeat: no-repeat
		h1
			text-align: center
			font:
				size: 43px
				weight: 400
		.contact
			+basic
			.cont-info
				width: 100%
				h4
					margin: 0
				.social
					display: flex
					width: 30%
					div 
						margin: 0 auto
						width: 30px
						height: 30px
						background-color: #FFF
						border-radius: 50%
						text-align: center
					.fb 
						background-color: red
					.tw
						background-color: #41abe1
						a 
							text-decoration: none
							color: #ffffff
				.phone
					p
						font-size: 14px
						color: #bface2
			.cont-form
				width: 100%
				.mn 
					display: flex
					input 
						width: 44%
						padding: 10px
						border-radius: 5px
						border: none
					.email
						margin-left: 5%
				.text
					display: flex
					textarea
						width: 100%
						margin: 15px 0
						border-radius: 5px
						padding: 10px
						resize: none
				.send
					float: right
					button
						background-color: #44c0c2
						border: none
						color: #ffffff
						font:
							family: $main-font
							size: 20px
						padding: 10px 50px
						border-radius: 5px












	
@include screen(320px, 700px) { .team{flex-direction: column}
.team-member{width: 100%!important}.slide>h1{font-size: 40px!important; margin: 0 0 30px 0!important;}.slide>p{font-size: 12px!important; margin: 40px 0 20px!important;}.plans{flex-direction: column}}

@include screen(320px, 700px) {}

@include max-screen(1100px) { 
.first-row{flex-direction: column}
.second-row{flex-direction: column}
.team-member{width: 100%!important}}
@include min-screen(1100px) { 
.first-row{flex-direction: row}
.second-row{flex-direction: row}
.team-member{width: 100%!important}}

@include max-screen(1000px) { 
.contact{flex-direction: column!important}}